.btn-navigation:hover {
    background-color: #9f224e;
    color: white;
}

.btn-navigation {
    background-color: #e5e5e5;
    transition: all .4s ease-in-out;
    margin: 0 8px;
}

.btn-navigation-item {
    font-weight: 600;
    font-size: 14px;
    margin: 0 8px;
    cursor: pointer;
    position: relative;
}

.btn-navigation-item:hover {
    color: #9f224e;
}

.btn-navigation-item:hover .modal-app-bar {
    display: block;
}

.btn-navigation-item:hover .modal-app-bar p {
    color: black;
}

.btn-all {
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #bdbdbd;
}

.btn-all .icon {
    color: #bdbdbd;
}

.btn-all:hover {
    font-weight: 600;
}

.btn-all:hover .icon {
    font-weight: 600;
    color: #9f224e;
}